<template>
    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="font-awesome/css/font-awesome.css"></require>
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="col-md-10 col-md-offset-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-home"></i>
                        <span>${router.title}</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                            <a href.bind="row.href" class="blackLink">${row.title}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="loader" if.bind="router.isNavigating">
                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="page-host">
        <router-view></router-view>
    </div>
</template>
