<template>
	<div class="row">
		<div class="col-md-5 col-md-offset-1" id="ContactCol">   
			<p>To contact me:<br />Call 218.303.5910<br />Or email me at:<br />
			<a href= "mailto: philip.gedgaud@gmail.com">philip.gedgaud@gmail.com</a>
			</p>
			<p><a href="https://www.linkedin.com/in/philipgedgaud">linkedin.com/in/philipgedgaud</a></p>
			<p><a href="https://bitbucket.org/pgedgaud">bitbucket.org/pgedgaud</a></p>
		</div>
		<div class="col-md-5" id="CopyrightCol">
			<p>&copy; All images and portfolio pieces used on this site are copyrighted and can not be used with prior permission.</p>
		</div>	
	</div>
</template>
