<template>
    <require from='./footer.html'></require>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>${heading}</h2></div>
    </div>

    <div id="row"><div class="col-md-10 col-md-offset-1">
        <canvas id="gameCanvas" width="1000" height="500" style="border:1px solid #000000;"></canvas></div>
    </div>
    <div id="row"><div class="col-md-10 col-md-offset-1">
        <button class="btn btn-default" type="button" id="run" click.delegate="PausePlay()">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default" type="button" id="step" click.delegate="StepButtonClick()"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
        <button class="btn btn-default" type="button" id="step" click.delegate="GenerateNewGame()">Generate New Game</button>
        <button class="btn btn-default" type="button" id="step" click.delegate="ClearCanvas()">Clear Game</button>
        <p>Click on a cell to populate it.</p></div>
    </div></div>
    <footer></footer>
    <script src="js/gameOfLife.js"></script>
    <script src="js/main.js"></script>
</template>
