<template>
    <require from='./footer.html'></require>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>${heading}</h2></div>
    </div><div class="row"> <div class="col-md-10 col-md-offset-1">
        <p>These are the programming languages and programs that I am efficient with. If you would like a full resume please <a href="contact.html">contact me</a>.</p>
        <ul>
            <li><strong>Programming Skills</strong> - C#, .NET, TSQL, Powershell, SSRS, SSIS, MySQL, Perl, Visual Basic</li>
            <li><strong>Web Development</strong> – X/HTML, CSS, XML, JavaScript, DOM, AJAX, PHP, Perl and CGI, ASP, ASP.NET</li>
            <li><strong>Operating Systems and Networking</strong> - Windows, Windows Server, Unix, Linux, Mac</li>
            <li><strong>Software</strong> – Visual Studio, Sql Server Management Studio, Dynamics AX 2012, IIS, Ignition</li>
            <li><strong>Functional Skills</strong> - Object Oriented Programming, Application and Web Security</li>
            <li><strong>Source Code Management</strong> – TFS, GIT, SVN </li>
            <li><strong>Automation</strong> - PLC integration, HMI, Ignition</li>
        </ul>
    </div></div>
    <footer></footer>
</template>
