<template>
    <require from='./footer.html'></require>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>${heading}</h2></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <p><img class="homeImage img-thumbnail" src="images/ProfilePic.jpg" alt="This is a picture of Philip Gedgaud." /></p>
        </div>
        <div class="col-md-6">
            <p>My name is Philip Gedgaud and my mission is to make technology better. The web and technology are becoming an ever growing aspect in our day to day lives and many websites, applications and technologies are not secure or of the highest quality. This can be a problem for those that interact with it and I seek to make technology more beneficial. My passion for technology started in 2004 when I took a web design class in high school. Since then I have attended NDSU to learn more about computers and development. Please feel free to look around at my work.</p>
        </div>
    </div>
    <footer></footer>
</template>
