<template>
    <require from='./footer.html'></require>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>${heading}</h2></div>
    </div>
    <div class="row"><div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/stewartsDeli900x700.png" alt="A picture of the homepage of Stewarts Deli Website.">
                    <div class="carousel-caption">
                        <h4>Stewarts Deli</h4>
                        <p><a href="stewartsdeli/index.html">Stewarts Deli</a></p>
                        <p class="hidden-xs">I built this site for a small deli in Fargo, ND as part of my Web Design Minor Capstone class. Although this site has been removed since the business has closed, it can be viewed here.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="images/mpjcreations900x700.png" alt="">
                    <div class="carousel-caption">
                        <h4>MPJ Creations</h4>
                        <p><a href="mpjcreations/index.html">MPJ Creations</a></p>
                        <p class="hidden-xs">This site is built as an informational site for MPJ Creations. It is a hobby business that sells various crafts and products. It gives information about the products and about the business.</p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
    <footer></footer>
</template>
